/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e fundo */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(blue, purple);
    color: #333;
    min-height: 100vh;
    display: flex;   
    flex-direction: column;
}

/* Header */
header {
    background-color: #1e293b;
    color: white;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    font-size: 25px;
}

/* Conteúdo principal */
main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    flex: 1;
}

/* Seções */
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Artigos */
article {
    border-left: 4px solid #1e293b;
    padding-left: 15px;
    margin-top: 15px;
}

/* Títulos */
h2 {
    margin-bottom: 10px;
    color: #1e293b;
}

h3 {
    margin-bottom: 5px;
}

/* Rodapé */
footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;

}

@media (max-width: 600px) {

    header {
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    main {
        margin: 15px;
        padding: 15px;
    }

    section {
        padding: 15px;
    }
}

